<div class="small-card-container">
    <div class="small-card-content-container">
        <a href="content/{{Id}}">
            <div class="small-card-photo">
                <img src="{{ photoCover }}"
                alt=""
                height="">
            </div>
        </a>
        <div class="small-card-title">
            <h1>
                <a href="">
                    {{ cardTitle }}
                </a>
            </h1>
        </div>
    </div>
    <div class="small-card-separator-container">
        <hr>
    </div>
</div>